<% wrap_layout :inner do %>
<% content_for :sidebar do %>

<%#
    Data Sources (alphabetical)
%>
<% @data_sources = [
    "alert_channel",
    "alert_policy",
    "application",
    "entity",
    "key_transaction",
    "plugin",
    "plugin_component",
    "synthetics_monitor",
    "synthetics_monitor_location",
    "synthetics_secure_credential",
] %>

<%#
    Resources (alphabetical)
%>
<% @resources = [
    "alert_channel",
    "alert_condition",
    "alert_policy",
    "alert_policy_channel",
    "api_access_key",
    "dashboard",
    "entity_tags",
    "events_to_metrics_rule",
    "infra_alert_condition",
    "insights_event",
    "nrql_alert_condition",
    "plugins_alert_condition",
    "synthetics_alert_condition",
    "synthetics_monitor",
    "synthetics_monitor_script",
    "synthetics_secure_credential",
    "workload",
] %>

<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-newrelic-index") %>>
            <a href="/docs/providers/newrelic/index.html">New Relic Provider</a>
            <ul class="nav nav-visible">

                <li<%= sidebar_current("docs-newrelic-provider-configuration") %>>
                    <a href="/docs/providers/newrelic/guides/provider_configuration.html">Provider Configuration</a>
                </li>
                <li<%= sidebar_current("docs-newrelic-provider-getting-started") %>>
                    <a href="/docs/providers/newrelic/guides/getting_started.html">Getting Started Guide</a>
                </li>
                <li<%= sidebar_current("docs-newrelic-provider-upgrade-2x") %>>
                    <a href="/docs/providers/newrelic#upgrading-to-2-x">Upgrade to v2.x</a>
                </li>
            </ul>
        </li>

        <li <%= sidebar_current("docs-newrelic-resource") %>>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <% @data_sources.each do |data_source| -%>
                    <li>
                        <a href="/docs/providers/newrelic/d/<%= data_source %>.html">newrelic_<%= data_source %></a>
                    </li>
                <% end -%>
            </ul>
        </li>

        <li<%= sidebar_current("docs-newrelic-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
                <% @resources.each do |resource| -%>
                    <li>
                        <a href="/docs/providers/newrelic/r/<%= resource %>.html">newrelic_<%= resource %></a>
                    </li>
                <% end -%>
            </ul>
        </li>
    </ul>
</div>
<% end %>

<%= yield %>
<% end %>
